<div ng-switch="calendarMode">
    <div class="row calendar-navbar">
        <div class="nav-left col col-16">
            <button type="button" class="button button-balanced" ng-click="move(-1)"><i
                    class="icon ion-arrow-left-a"></i></button>
        </div>
        <div class="calendar-header col col-66"><strong>{{title}}</strong></div>
        <div class="nav-right col col-16">
            <button type="button" class="button button-balanced" ng-click="move(1)"><i
                    class="icon ion-arrow-right-a"></i></button>
        </div>
    </div>
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
</div>